$color-white: #ffffff;
$color-white-smoke: #f7f7f7;
$color-black: #000000;
$color-wild-sand: #f7f6f6;
$color-ebb-gray: #f0eeed;
$color-cloud-gray: #cbc6c4;
$color-hurricane-gray: #837975;
$color-gray: #333;
$color-gray-lighter: #505050;
$color-cod-gray: #181516;
$color-light-gray: #DAD9D9;
$color-smooth-gray: #f4f4f4;
$color-in-active-gray: #9a9a9a;
$color-active-gray: #2c2c2c;
$color-aqua: #e5f4f4;
$color-jade-green: #00c566;
$color-teal: #009392;
$color-teal-light: #2ab6b5;
$color-teal-dark: #069492;
$color-orange: #fc803a;
$color-torch-red: #fa023e;
$color-white-gray: #fcfcfc;
$color-dark-gray: #d7d7d7;
$color-checkout-box-shadow: #5a5a5a29;
