html {
  font-family: "Trim", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: -webkit-optimize-contrast;
}

html,
body {
  height: 100%;
}

a {
  color: $color-gray;
  text-decoration: none;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: $color-gray;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  color: $color-gray;
}

p {
  font-size: 12px;
}

input[type="search"] {
  width: 100%;
  border-radius: 20px;
  border-color: $color-cloud-gray;
  background-color: $color-wild-sand;
  border-width: 1px;
  border-style: solid;
  position: relative;
  height: 50px;
  padding: 0 15px;
  color: $color-cod-gray;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="search"]::placeholder {
  color: $color-hurricane-gray;
  font-size: 14px;
  line-height: 17px;
}
input[type="search"]:focus {
  outline: none;
  border-color: $color-hurricane-gray;
}

input::-ms-clear{
  display: none;
} 
